*.iml
.gradle
/local.properties
.idea
/idea
.DS_Store
/build
/captures
.externalNativeBuild
libs/
sampledata/
src/main/java/com/restamenu/views/
src/main/MaterialSearchView-develop (1).zip
src/main/MaterialSearchView-develop (1)/
